---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
Crail is a open source user-level I/O architecture for the Apache data processing ecosystem designed from ground up for high-performance storage and networking hardware (40-100Gbps RDMA, flash, GPUs, etc)
  </p>
</div>

<h2>What is Crail?</h2>

Crail is a new userspace I/O architecture for the Apache data processing ecosystem (Spark, Hadoop, Flink, etc.) based on the Crail distributed file system. The Crail file system and its higher level components (e.g., shuffle engine, SQL operators, etc.) are designed from ground up for fast storage (DRAM, Flash/NVMe) and networking hardware (40-100Gbps, RDMA, etc).

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.categories.news limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.categories.news | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/news/">Older posts&hellip;</a></p>
{% endif %}
