---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
Crail is a open source user-level I/O architecture for the Apache data processing ecosystem designed from ground up for high-performance storage and networking hardware (40-100Gbps RDMA, flash, GPUs, etc)
  </p>
</div>

<h2>Overview</h2>

The bedrock of the Crail I/O architecture is CrailFS, a file system implemented across a set of RDMA interconnected storage resources such as DRAM, flash, GPU memory, etc. 


<br><br>
<div>
<img src="{{ site.base }}/img/crail_stack.png" align="middle" style="width: 550px;">
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.categories.news limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.categories.news | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/news/">Older posts&hellip;</a></p>
{% endif %}
