---
layout: default
title: People
---

{% for role in site.roles %}
    {% assign people = (site.data.people | where: "role", role.key) | sort: "last_name" %} 
    {% if people != empty %}
        <h3>{{ role.name }}</h3>
        <dl class="people">         
        {% for person in people %} 
             <dt class="person">
             {% if person.image %}
                   {% if person.webpage %} <a href="{{ person.webpage |escape }}"> {% endif %}
                   <img class="img-circle" src="{{ site.base }}/{{ person.image }}" alt=" {{ person.name }} " style="height:75px;">
                   {% if person.webpage %} </a> {% endif %}
             {% endif %} 
             </dt>
             <dd class="person">
                {% if person.webpage %} <a href="{{ person.webpage |escape }}"> {% endif %}
                <h4> {{ person.display_name }} </h4>
                {% if person.webpage %} </a> {% endif %}
               {% if person.bio %}
                  {{ person.bio | markdownify }}
               {% endif %}
             </dd>
        {% endfor %}
        </dl>
        <br>
  {% endif %}
{% endfor %}
